/*

Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the webpage when you refresh in the browser.

*/

body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
  header {
    background: #fff;
    height: 70px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position:fixed;
    border-bottom: 2px solid lightgrey;  
}
  
  #headerbox{
    background: #4aaaa5;
    float:left;
    height: 70px;
  }

  h1 {
    font-size: 28px;
    color: #eee;
    text-align: center;
  }
  
  h2{
    color: #4aaaa5;
    vertical-align: middle;
  }

  h4 {
    float:right;
  }
  
  a {
    color: #999;
  }
 
  a:link {
    text-decoration: none;
  }

  .container {
    width: 960px;
    margin: 0 auto;
  }
  
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    background-color: #ffffff;
    top:100px;
    padding: 20px 20px 20px 20px;
    border: 1px solid lightgrey;
    position: absolute;
    width: 960px;
  }
  
  #AbMe {
    border-top:2px solid lightgrey;
    height: 10px;
    padding: 10px;
  }
  
  #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }

  footer{
    background: #666666;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
  }
  